@font-face{
    font-family:"Conthrax";
    src:url('./conthrax-sb.otf') format("opentype");
    font-display:swap;
}
@font-face{
    font-family:"Conthrax Light";
    src:url("./conthrax-light.otf") format("opentype");
    font-display:swap;
}
@font-face{
    font-family:"Tactic Round";
    src:url("./TacticRound-Med.ttf") format("truetype");
    font-display:swap;
}

@font-face{
    font-family:"Conthrax Regular";
    src:url("./Conthrax-Regular.otf") format("opentype");
    font-display:swap;
}
@font-face{
    font-family:"Tactic Round Regular";
    src:url("./TacticRound-Regular.otf") format("opentype");
    font-display:swap;
}
@font-face{
    font-family:"Tactic Round Bold";
    src:url("./Tactic-Round-Bold.otf") format("opentype");
    font-display:swap;
}